@import url( ./reset.css );
@import url( ./variables.css );
@import url( ./typography.css );

body {
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 4rem;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1)), url(/public/flipboard-9-QUC4fm8Lo-unsplash.jpg);
	background-size: cover;
	background-position-y: bottom;
	height: 50vh;

	.page-title {
		font-size: 2rem;
		font-weight: 400;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		vertical-align: middle;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

		@media (min-width: 768px) {
			font-size: 4rem;
		}
	}
}

main {
	padding-left: 1rem;
	padding-right: 1rem;

	@media (min-width: 768px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.newsapp-listings__articles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
		gap: 3rem;
		margin-bottom: 3rem;
	}

	.newsapp-article__image {
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (min-width: 768px) {
			max-height: 18vh;
		}
	}

	.newsapp-article__meta {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	.newsapp-article__source {
		color: #333;
		font-weight: 400;
		margin-bottom: 5px;
	}

	.newsapp-article__link {
		color: #000;
		text-decoration: none;
		font-weight: 700;

		&:hover {
			text-decoration: underline;
		}
	}

}

.newsapp-form {
	display: flex;
	justify-content: center;
	flex-direction: column;

	label {
		display: block;
		margin-bottom: 1rem;
	}

	select {
		width: 100%;
		margin-bottom: 2rem;
		padding: 0.5rem;
		font-size: 1rem;
		border: 1px solid #ccc;
		border-radius: 0.25rem;
		margin-bottom: 1rem;
	}

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: left;
		gap: 2rem;

		.newsapp-form__select {
			display: flex;
			align-items: baseline;

			label {
				margin-right: 1rem;
			}

			select {
				width: auto;
			}
		}
	}
}

.site-footer {
	border-top: 3px solid var(--border-color);

	.site-footer__credits,
	.site-footer__info {
		text-align: center;

		.source__gnews {
			display: inline-block;

			img {
				width: 8rem;
			}
		}
	}

	.site-footer__credits {
		margin: 5rem 0 1rem;
	}

	.list-credits {
		li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;

			i.fa, i.fa-brands {
				font-size: 2em;
			}
		}
	}

	.site-copyright {
		font-size: 1rem;
	}
}
